- content_for :head do
    = stylesheet_link_tag 'application' 

= render partial: 'layouts/navigation/nav_bar'

.container-fluid
    .d-flex.justify-content-center.flex-column.align-items-center.text-light
        %h2 Sonrai
        %h5 Data Driven Content