.navbar.navbar-drak.bg-dark.p-1
    %h2.text-light.navbar-brand
        B.C
    .d-flex.justify-content-end
        .nav-link.text-light
            Projects
        .nav-link.text-light
            Contact

